*.pyc
.vscode
.DS_Store
build
diff_rasterization/diff_rast.egg-info
diff_gaussian_rasterization.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.log
*.dump
*.mp4
*.npy
*.out
__pycache__
dataset
pre-trained
test/*
*.pth
output
output_global
others
submodules/diff_gaussian_rasterization/diff_gaussian_rasterization.egg-info
submodules/diff_gaussian_rasterization/build
submodules/diff_gaussian_rasterization/dist
tmp.json